body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1 0 auto;
}
#homepage,#logoutbutton{
    display: none;
}
nav .navbar{
    background-color: #070338 !important;
}